CompileFlags:
    Add:
        - -std=c23
        - -Wall
        - -Wbidi-chars=any,ucn
        - -Wcast-qual
        - -Wdisabled-optimization
        - -Wextra
        - -Whardened
        - -Winvalid-pch
        - -Wlogical-op
        - -Wpadded
        - -Wshadow
        - -Wstrict-overflow=5
        - -Wtrailing-whitespace=any
        - -Wunknown-pragmas
        - -Wunsafe-loop-optimizations
        - -Wvector-operation-performance
        - -Werror=-Walloc-zero
        - -Werror=-Warith-conversion
        - -Werror=-Warray-bounds=2
        - -Werror=-Wbad-function-cast
        - -Werror=-Wbidi-chars
        - -Werror=-Wcalloc-transposed-args
        - -Werror=-Wcast-align
        - -Werror=-Wconversion
        - -Werror=-Wdouble-promotion
        - -Werror=-Wduplicated-branches
        - -Werror=-Wduplicated-cond
        - -Werror=-Wflex-array-member-not-at-end
        - -Werror=-Wfloat-equal
        - -Werror=-Wformat=2
        - -Werror=-Wformat-signedness
        - -Werror=-Wformat-overflow=2
        - -Werror=-Wformat-truncation=2
        - -Werror=-Winit-self
        - -Werror=-Winline
        - -Werror=-Winvalid-utf8
        - -Werror=-Wimplicit-fallthrough=5
        - -Werror=-Wjump-misses-init
        - -Werror=-Wkeyword-macro
        - -Werror=-Wnested-externs
        - -Werror=-Wnull-dereference
        - -Werror=-Wnormalized=nfkc
        - -Werror=-Wmissing-include-dirs
        - -Werror=-Wmissing-noreturn
        - -Werror=-Wmissing-prototypes
        - -Werror=-Wmissing-variable-declarations
        - -Werror=-Wmultichar
        - -Werror=-Wpedantic
        - -Werror=-Wpointer-arith
        - -Werror=-Wredundant-decls
        - -Werror=-Wstack-protector
        - -Werror=-Wstringop-overflow=4
        - -Werror=-Wstringop-truncation
        - -Werror=-Wsuggest-attribute=noreturn
        - -Werror=-Wswitch-default
        - -Werror=-Wswitch-enum
        - -Werror=-Wtrampolines
        - -Werror=-Wtrivial-auto-var-init
        - -Werror=-Wtype-limits
        - -Werror=-Wundef
        - -Werror=-Wunused-const-variable
        - -Werror=-Wunused-macros
        - -Werror=-Wuse-after-free=3
        - -Werror=-Wuseless-cast
        - -Werror=-Wwrite-strings
        - -Werror=-Wzero-as-null-pointer-constan
        - -pedantic-errors
        - -I../include
    Compiler: gcc
---
If:
    PathMatch: include/.*\.h
CompileFlags:
    Add: [-xc-header]
