CompileFlags:
    Add:
        - -std=c23
        - -I../include
        - -Wno-unknown-warning-option
        - -pedantic-errors
        - -Wall
        - -Walloc-zero
        - -Warith-conversion
        - -Warray-bounds=2
        - -Wbad-function-cast
        - -Wbidi-chars=any,ucn
        - -Wcalloc-transposed-args
        - -Wcast-align
        - -Wcast-qual
        - -Wconversion
        - -Wdisabled-optimization
        - -Wdouble-promotion
        - -Wduplicated-branches
        - -Wduplicated-cond
        - -Werror
        - -Wextra
        - -Wflex-array-member-not-at-end
        - -Wfloat-equal
        - -Wformat=2
        - -Wformat-signedness
        - -Wformat-overflow=2
        - -Wformat-truncation=2
        - -Whardened
        - -Wimplicit-fallthrough=5
        - -Winit-self
        - -Winline
        - -Winvalid-pch
        - -Winvalid-utf8
        - -Wjump-misses-init
        - -Wkeyword-macro
        - -Wlogical-op
        - -Wmissing-include-dirs
        - -Wmissing-noreturn
        - -Wmissing-prototypes
        - -Wmissing-variable-declarations
        - -Wmultichar
        - -Wnested-externs
        - -Wnull-dereference
        - -Wnormalized=nfkc
        - -Wpadded
        - -Wpedantic
        - -Wpointer-arith
        - -Wredundant-decls
        - -Wshadow
        - -Wstack-protector
        - -Wstrict-overflow=5
        - -Wstringop-overflow=4
        - -Wstringop-truncation
        - -Wsuggest-attribute=noreturn
        - -Wswitch-default
        - -Wswitch-enum
        - -Wtrailing-whitespace=any
        - -Wtrampolines
        - -Wtrivial-auto-var-init
        - -Wtype-limits
        - -Wundef
        - -Wunknown-pragmas
        - -Wunsafe-loop-optimizations
        - -Wunused-const-variable
        - -Wunused-macros
        - -Wuse-after-free=3
        - -Wuseless-cast
        - -Wvector-operation-performance
        - -Wwrite-strings
        - -Wzero-as-null-pointer-constant
    Compiler: gcc
---
If:
    PathMatch: include/.*.h
CompileFlags:
    Add: [-xc-header]
    Remove: [-Wunused-macros]
